<div class="section">
    <div class="container my-4 custom-container">
      <h4 class="card-title">Import Terms and Translations</h4>
      <div class="card-body">
        <div class="mb-3 file">
          <label for="fileInput" class="form-label">Drag your file here or click to choose</label>
          <div
            id="fileInput"
            class="border border-2 border-dashed rounded text-center p-4 file-drop-zone"
            [ngClass]="{'file-drop-hover': isHovering}"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onFileDrop($event)"
            (click)="fileInput.click()"
          >
            <input
              type="file"
              id="fileInputField"
              #fileInput
              style="display: none;"
              (change)="onFileSelected($event)"
            />
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5.5 0 0 1-.5-.5"/>
                <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
            </svg>
            <p class="text-muted" *ngIf="!selectedFile">
              Drag your file here or click to choose
            </p>
            <p *ngIf="selectedFile">
              {{ selectedFile.name }} has been added
            </p>
          </div>
        </div>
  
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Choose a language" [value]="selectedLanguage?.name || ''" (focus)="showDropdown = true" (blur)="hideDropdown()" readonly>
        </div>
        <div *ngIf="showDropdown">
            <ul class="list-group position-absolute z-index-1 w-100">
              <li class="list-group-item" *ngFor="let language of filteredLanguages()"  style="width: 50%;" (click)="selectLanguage(language)">
                {{ language.name }}
              </li>
            </ul>
        </div>
  
        <button class="btn btn-primary w-100" (click)="importToProject()">
          Import to project
        </button>
      </div>
    </div>
  
    <div class="mt-4 file-type">
      <h5>Accepted files:</h5>
      <ul class="list-unstyled">
        <li><strong>JSON</strong> (.json)</li>
        <li><strong>CSV</strong> (.csv)</li>
        <li><strong>XLIFF</strong> (.xliff)</li>
      </ul>
    </div>
  </div>
  