<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-end">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="chatModalLabel">Collaboration Chat</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="chat-container">
            <div class="chat-messages">
              <div class="message" *ngFor="let message of messages">
                <strong>{{ message.sender }}:</strong> {{ message.text }}
              </div>
            </div>
          </div>
          <div class="chat-input mt-3">
            <input type="text" [(ngModel)]="newMessage" placeholder="Type a message" class="form-control" />
            <button class="btn btn-primary mt-2 w-100" (click)="sendMessage()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
