.next-navbar{
    background: linear-gradient(to right, #43cea2, #185a9d);
    border-radius: 0px 0px 40px 40px ;
    width: 100%;
    top: 90px;
    padding-top: 80px;
    padding-bottom: 30px;
    left: 0;
    position: absolute;
    z-index: 1;
}
.project-info{
  display: flex;
  width: 90%;
  margin: auto;
}
.project-title{
  width: fit-content;
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
}
.progress {
  height: 10px;
}
.custom-progress{
  color: white;
  width: 95%;
}
.link-list{
  width: 85%;
  height: 100px;
  align-content: center;
  margin: auto;
  padding: 0;
}
.custom-list{
  padding-left: 0;
  display: flex;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white; 
}
.active-link {
  font-weight: bold; 
  border-bottom: 2px solid white;
}
.nav-item:not(:last-child) {
  border-right: none; /* Remove right border for all but the last item */
}
.nav-item:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.3); /* Keep the custom border for the last item */
}



.custom-card{
  background-color: white;
    border-radius: 30px 30px 30px 30px ;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 85%;
    top: 320px;
    position: absolute;
    z-index: 10;
    left: 50%;
	transform: translate(-50%, -0%);
} 
.custom-btn{
  width: 50px;
  background-color: blue;
}
.custom-td a{
  padding: 3%;
}

.list-group-item {
  cursor: pointer;
}

.lan-code{
  background-color: whitesmoke;
  padding: 3px; border-radius: 5px; margin-left: 2px;

}

.position-absolute {
  position: absolute;
}
.z-index-1 {
  z-index: 1;
}

.language-display{
  display: flex ;
}
.custom-class{
  padding: 2px;
  width: fit-content;
}

.bi-x-circle{
  margin-left: 4px;
  color: red;
  cursor: pointer;
}

.custom-iconBtn{
  border: 0;
  background-color: white;
}
