    <app-nav-bar></app-nav-bar>
<nav class="next-navbar">
    <div class="progress-nav">
        <div class="Translation-Progress" id="progress-bar">
            <h1>48%</h1>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p>Translation Progress</p>
        </div>
        <div class="String-Progress" id="progress-bar">
            <h1>83/10000</h1>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p>Used Strings</p>
        </div>
        <div class="Project-Stats">
            <div class="Total-Pro" style="border-right: 1px solid rgba(255, 255, 255, 0.3);"><h1>1</h1><p><span>TOTA <br> PROJECTS</span></p></div>
            <div class="Project-Own" style="border-right: 1px solid rgba(255, 255, 255, 0.3);"><h1>2</h1><p><span>OWN <br> PROJECTS</span></p></div>
            <div class="Contributors"><h1>3</h1><p><span>ASSIGNED <br> CONTRIBUTORS</span></p></div>
        </div>
    </div>
  </nav>
  <app-project-list></app-project-list>
