    <app-nav-bar></app-nav-bar>
    <nav class="next-navbar" >
    <div class="progress-nav">
        <div class="Translation-Progress" id="progress-bar">
            <h1>{{ averageProgress }}%</h1>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" [style.width.%]="averageProgress" [attr.aria-valuenow]="averageProgress" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p>Translation Progress</p>
        </div>
        <div class="String-Progress" id="progress-bar">
            <h1>{{ totalStringNumber }}/10000</h1>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="stringProgress"  [attr.aria-valuenow]="stringProgress"  aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p>Used Strings</p>
        </div>
        <div class="Project-Stats">
            <div class="Total-Pro" style="border-right: 1px solid rgba(255, 255, 255, 0.3);">
                <h1>{{ projectCount }}</h1><p><span>TOTA <br> PROJECTS</span></p>
            </div>
            <div class="Project-Own" style="border-right: 1px solid rgba(255, 255, 255, 0.3);">
                <h1>{{ projectCount }}</h1><p><span>OWN <br> PROJECTS</span></p>
            </div>
            <div class="Contributors">
                <h1>0</h1><p><span>ASSIGNED <br> CONTRIBUTORS</span></p>
            </div>
        </div>
    </div>
  </nav>
  <app-project-list (projectCountChange)="updateProjectCount($event)" (adminIdChange)="onAdminIdChange($event)"></app-project-list>
 
