/* You can add global styles to this file, and also import other style files */
.json-prev {
    background: gray;
    border: 1px solid grey;
    display: flex;
    min-height: 25px;
    flex-flow: column;
}